<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Login Form</title>
    <link rel="shortcut icon" href="/sign in/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/sign in/style.css">
</head>

<body>
    <form class="login-form" method="POST" action="/signin">
        <h1>Login</h1>

        <div class="txtb">
            <p>Email:</p>

            <input type="text" name="email">

        </div>


        <div class="txtb">
            <p>Password:</p>
            <input type="password" name="password">

        </div>
        <input type="submit" class="logb" value="login">

        <div class="bottom-text">
            don't have account? <a href="/signup">sign up</a>

        </div>

    </form>



</body>


</html>