<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>sign up</title>
    <link rel="shortcut icon" href="/sign up/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/sign up/style.css">
</head>

<body>
    <form class="login-form" method="POST" action="/signup">
        <h1>Create Account</h1>

        <div class="txtb">
            <p>Username:</p>

            <input type="text" name="username">

        </div>

        <div class="txtb">
            <p>E-mail:</p>

            <input type="text" name="email">

        </div>

        <div class="txtb">
            <p>Password:</p>
            <input type="password" name="password">

        </div>

        <div class="txtb">
            <p>Re-password:</p>

            <input type="password" name="repassword">

        </div>
        <input type="submit" class="logb" value="Sign up">



    </form>



</body>


</html>