* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Arial, "Times New Roman";
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-image: linear-gradient(120deg, #3498db, #8e44ad);
}

.login-form {
    width: 360px;
    height: 580px;
    padding: 40px 40px;
    background: #f1f1f1f1;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-form h1 {
    margin-bottom: 30px;
    text-align: left;
}

.txtb {
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

.txtb input {
    font-size: 15px;
    color: #333;
    border: none;
    width: 100%;
    outline: none;
    background: none;
    padding: 0 5px;
    height: 40px;
}

p {
    margin-bottom: 5px;
}

.logb {
    display: block;
    width: 100%;
    height: 50px;
    border: none;
    background-image: linear-gradient(120deg, #3498db, #8e44ad, #3498db);
    color: #fff;
    background-size: 200%;
    outline: none;
    cursor: pointer;
    transition: .5s;
}

.logb:hover {
    background-position: right;
}

.bottom-text {
    margin-top: 60px;
    text-align: center;
    font-size: 13px;
}